html, body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  overflow-y: auto;
}

.chat-container {
  display: flex;
  bottom: 0;
  flex-direction: column;
  height: 100%;
  /* height: 100vh; */
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  flex: 1;
}

.chat-box {
  flex-grow: 1;
  width: 50%;
  height: 87.5%;
  max-height: 90vh;
  padding: 10px;
  overflow-y: scroll; 
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  margin-bottom: 60px;
  bottom: 0;
  position: fixed;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 50%;
}

.chat-message.user {
  background-color: rgb(18, 212, 212);
  align-self: flex-end;
  text-align: right;
  max-width: 50%;
}

.chat-message.bot {
  background-color: #f57cf5;
  align-self: flex-start;
  text-align: left;
  overflow-wrap: break-word;
}

.chat-input {
  display: flex;
  bottom: 0;
  width: 50%;
  padding: 10px;
  background-color: rgb(18, 212, 212);
  position: fixed;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #0bccee;
  border-radius: 5px;
}

.chat-input button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0056b3;
}